body{
    background-color: #3E81D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header{
    display: flex;
    justify-content: center;
    color: white;
}

.main{
    background-color: white;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    
}

